.presentationSection {
  padding: 0 calc(var(--marginPadding) * 2.5);
  z-index: 3;
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 20rem;
  .textContainer {
    width: 50%;
    h1 {
      color: white;
      margin-bottom: 3rem;
    }
    p {
      color: white;
      width: 70%;
      margin-bottom: 3rem;
    }
    a {
      color: var(--sandColor);
      font-size: 1.8rem;
    }
    &.inverse{
      padding-left: 60px;
    }
  }
  .visualContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    img {
      margin-top: 80px;
      width: 90%;
      object-fit: contain;
    }
  }
}
